@import "base";
@import "navbar";
@import "content";
@import "footer";
@import "about";
.slider {
  .bgImage {
    .carousel_caption {
      position: absolute;
      top: 20%;
      left: 15%;
      width: 520px;
      h2 {
        text-transform: uppercase;
        font-size: 3rem;
        color: #ffffff;
      }
      p {
        color: #fff;
        font-size: 1rem;
      }
      @media (max-width: 767px) {
        h2 {
          font-size: 1.5rem;
        }

        p {
          font-size: 0.5rem;
        }
      }

      .btn {
        text-transform: uppercase;
      }
    }
    @media (max-width: 767px) {
      .carousel_caption {
        position: absolute;
        top: 20%;
        left: 15%;
        width: 250px;
        position: relative;
        z-index: 2;
        color: #fff;
      }
    }
  }
}
