header {
  height: 20vh;
  .navigation {
    background-color: #593759;
    color: #fff;
    .ctd {
      // background-color: bisque;
      height: 8vh;
      ul {
        padding: 0;
        margin: 0;
        li {
          a {
            color: #fff;
          }
        }
      }
    }
  }
  .navg {
    height: 12vh;
    img {
      width: 50px;
      height: auto !important;
    }
  }
  position: relative;
  z-index: 999;
}
@media (max-width: 767px) {
  .navigation {
    display: none;
  }
}
